@media (max-width: 700px) and (min-width: 1076px) {
    .App > header > section:nth-child(1) nav>ul>li a{
        font-size: var(--font-size-entete2);
    }
}


/* Media query pour les écrans de petite taille */
@media screen and (max-width: 600px) {
    .App {
        padding: 5px;
    }

    section {
        padding: 5px;
    }
}

/* Media query pour les écrans de petite taille */
@media screen and (min-width: 585px) {
    .seconnecter{
        width:400px;
    }
    .creeruncompte{
        width:600px;
    }
    .creer-une-annonce{
        width:765px;
    }
    .profil__details{
        width: 700px;
    }
}

/* Media Query pour rendre le formulaire de recherche responsive */
@media screen and (max-width: 768px) {
    /*.form-recherche {
        flex-direction: column;
    }

    .form-recherche input[type="text"] {
        margin-right: 0;
    }

    .form-recherche select {
        margin-right: 0;
    }

    .form-recherche button {
        margin-top: 10px;
    }*/
}

