<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>ProjetFinalAndAnss</display-name>
  <welcome-file-list>
    <welcome-file>acceuil</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>log4j-fichier</param-name>
    <param-value>WEB-INF/log/log4j.properties</param-value>
  </context-param>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Protection de l'espace de profile</web-resource-name>
      <url-pattern>/client/profilClient.jsp</url-pattern>
      <http-method>POST</http-method>
      <http-method>GET</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>client</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/client/seConnecter.jsp</form-login-page>
      <form-error-page>/client/erreurLogin.jsp</form-error-page>
    </form-login-config>
  </login-config>
  <security-role>
    <role-name>client</role-name>
  </security-role>
  <servlet>
    <description>Servlet pour controler la deconnexion</description>
    <display-name>SeDeconnecter</display-name>
    <servlet-name>SeDeconnecter</servlet-name>
    <servlet-class>org.cegep.gg.controleur.SeDeconnecter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeDeconnecter</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactServlet</display-name>
    <servlet-name>ContactServlet</servlet-name>
    <servlet-class>org.cegep.gg.controleur.ContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactServlet</servlet-name>
    <url-pattern>/ContactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet pour gérer les produits en page Admin</description>
    <display-name>GererProduitServlet</display-name>
    <servlet-name>GererProduitServlet</servlet-name>
    <servlet-class>org.cegep.gg.controleur.GererProduitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GererProduitServlet</servlet-name>
    <url-pattern>/GererProduitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet permettant aux admins de gérer les catégories du catalogue</description>
    <display-name>GererCategorieServlet</display-name>
    <servlet-name>GererCategorieServlet</servlet-name>
    <servlet-class>org.cegep.gg.controleur.GererCategorieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GererCategorieServlet</servlet-name>
    <url-pattern>/GererCategorieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet pour controler la création d'un nouveau compte</description>
    <display-name>CreerUnCompte</display-name>
    <servlet-name>CreerUnCompte</servlet-name>
    <servlet-class>org.cegep.gg.controleur.CreerUnCompte</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreerUnCompte</servlet-name>
    <url-pattern>/CreerUnCompte</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet pour controler l'affichage du catalogue</description>
    <display-name>CatalogueServlet</display-name>
    <servlet-name>CatalogueServlet</servlet-name>
    <servlet-class>org.cegep.gg.controleur.CatalogueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CatalogueServlet</servlet-name>
    <url-pattern>/CatalogueServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet permetant de controler la page d'acceuil</description>
    <display-name>AcceuilServletControleur</display-name>
    <servlet-name>AcceuilServletControleur</servlet-name>
    <servlet-class>org.cegep.gg.controleur.AcceuilServletControleur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceuilServletControleur</servlet-name>
    <url-pattern>/acceuil</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>org.cegep.gg.context.listener.ContextListerner</listener-class>
  </listener>
  <servlet>
    <description>Servlet de controle de la journalisation</description>
    <display-name>Log4JServlet</display-name>
    <servlet-name>Log4JServlet</servlet-name>
    <servlet-class>org.cegep.gg.controleur.Log4JServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Log4JServlet</servlet-name>
    <url-pattern>/Log4JServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de gesion du panier</description>
    <display-name>GestionPanierServlet</display-name>
    <servlet-name>GestionPanierServlet</servlet-name>
    <servlet-class>org.cegep.gg.controleur.GestionPanierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionPanierServlet</servlet-name>
    <url-pattern>/GestionPanierServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>TEST</description>
    <display-name>TEST</display-name>
    <servlet-name>TEST</servlet-name>
    <servlet-class>org.cegep.gg.controleur.TEST</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TEST</servlet-name>
    <url-pattern>/TEST</url-pattern>
  </servlet-mapping>
</web-app>