/*------------------------------------*\
  fonts / settings
\*------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;900&display=swap');

:root {
    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: serif;
    --font-tertiary: sans-serif;
    --font-quaternaaire:monospace;

    --font-size-extra-small: 10px;
    --font-size-min: 12px;
    --font-size-medium: 14px;
    --font-size-default: 16px;;
    --font-size-default-medium: 20px;
    --font-size-entete: 24px;
    --font-size-entete-large: 32px;
    --font-size-entete-xlarge: 36px;
    --font-size-entete2: 18px;
    --font-size-titre-livre: 14px;

    --font-weight-default: 100;
    --font-weight-medium: 200;
    --font-weight-regular: 400;
    --font-weight-Medium2: 500;
    --font-weight-semi-bold: 500;
    --font-weight-bold: 900;

    --letter-spacing-large: 0.02em;
    --letter-spacing-xlarge: 0.08em;

    --line-height-default: 1;
    --line-height-small: 1.2;
    --line-height-normal: 1.4;
    --line-height-medium: 1.6;
    --line-height-large: 1.8;
}