table {
    border-collapse: collapse;
    width: 100%;
    margin: 2vw;
}

table th,
table td {
    border: 1px solid rgb(249, 189, 77);
    padding: 2vw;
}

table tr:nth-child(even) {
    background-color: rgb(241, 238, 235);
}

table tr:hover {
    background-color: rgb(245, 209, 144);
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: orange;
    text-transform: uppercase;
}