/*------------------------------------*\
  list / elements
\*------------------------------------*/


ul,
ol {
    font-family: var(--font-primary);
    list-style-type: none;
    margin: 0;
    padding: 0;
}