BODY { font-family:Verdana; font-size:16px; color:Blue; }

.sTexteCentre { text-align:center; }
 
.sDivAvecColonne { float:left; width:390px; padding-left:10px; padding-bottom:10px;}
.sDivSansColonne { width:790px; padding-left:10px; padding-bottom:10px;}

.sEntete { background-color:#D0D0D0; margin-bottom:5px;  border-bottom-width:2px;  border-bottom-style:solid; }
.sPiedDePage {clear:both; background-color:#D0D0D0;  font-size:90%; margin-top:5px;  border-top-width:2px;  border-top-style:solid; }
.sTitreApp { font-size:150%; font-weight:bold; text-decoration:underline; } 
.sTitreSection { font-weight:bold; } 
.sTitreSousSection { font-weight:bold;  text-decoration:underline; font-size:80%;} 
.sAuteurApp { font-variant:small-caps; font-style:italic; font-weight:bold;}
.sUtilisateurApp { font-variant:small-caps; color:Purple; font-weight:bold;}
.sMatricule { width:94px; }
.sMotDePasse {width:122px; }
.sBudget { width: 190px; text-align:right;}
.sBudgetVisualisation {  text-align:right; font-weight:bold; color:Black; }
.sVille { width:210px;}
.sTrace { font-family:Courier New; font-size:10pt; color:Black;} 
.sInfo { font-size:80%; }
.sMessage { border:solid 1px Red; color:magenta; font-weight:bold; font-size:90%;}

.sTableauSuccursales {border-collapse:collapse;}
.sEnteteTableauSuccursales { background-color:#CCCCCC; color:Black; font-size:100%;}
.sCorpsTableauSuccursales { background-color:White; color:Black; font-size:80%;}
.sCelNoSuccursale {text-align:right;  border:solid 1px black; width:30px; padding-right:10px;}
.sCelVille {text-align:left;  border:solid 1px black; width:240px; padding-left:10px;}
.sCelBudget {text-align:right;  border:solid 1px black; width:82px;padding-right:10px;}

INPUT[type="text"]{color:Black; background-color:#DDDDDD;font-weight:bold; }
INPUT[type="password"]{color:Black; background-color:#DDDDDD;font-weight:bold; }
INPUT[type="button"] {font-variant:small-caps; font-weight:bold; font-size:80%;}

A { font-size:90%;}
A:link { color:Black; text-decoration:none;}
A:visited { color:Red; text-decoration:none;} 
A:hover { color:Blue; text-decoration:underline; }
		
A:link IMG, A:visited IMG { border:none; }
A:hover IMG { border-style:double; border-width:2px; border-color:Black;}
