/* Img */

.bloc--img,
.bloc--video {
    position: relative;
}

.bloc--img::before {
    content: "";
    background-color: var(--gris);
    height: 1px;
    left: 25%;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg) translateY(-50%);
    width: 50%;
    z-index: 0;
}

.bloc--img::after {
    content: "";
    background-color: var(--gris);
    height: 1px;
    left: 25%;
    position: absolute;
    top: 50%;
    transform: rotate(45deg) translateY(-50%);
    width: 50%;
    z-index: 0;
}

.bloc--video::before {
    content: "";
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-right: 40px solid transparent;
    border-left: 60px solid var(--gray);
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
}